# ----------------------
# General Python ignores
# ----------------------
__pycache__/
*.so
*.pyo

# ----------------------
# Virtual Environments
# ----------------------
venv/
.env
*.venv

# ----------------------
# Jupyter Notebook checkpoints
# ----------------------
.ipynb_checkpoints/

# ----------------------
# Data files
# ----------------------
/data/raw/*
/data/preprocessing/*
/data/corpus/*
/data/evaluation/*
/data/test/*
/data/training/*
*.tsv
*.zip
*.tar.gz
*.hdf5

# ----------------------
# Logs & Debugging Files
# ----------------------
/logs/*
*.log
*.out
*.err

# ----------------------
# Model Files & Checkpoints
# ----------------------
/models/*
*.h5
*.ckpt
*.pt
*.pkl
*.onnx
*.joblib

# ----------------------
# Experiment Results
# ----------------------
/results/raw/*  # Raw evaluation outputs (not needed in Git)

# ----------------------
# Dependencies
# ----------------------
*.lock
node_modules/

